* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#1e1e1e;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: #fff;
}

.txt-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

input[type="text"] {
  width: 120px;
  padding: 10px;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: #493ee456;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0ea816;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

li.completed {
  text-decoration: line-through;
}

li button {
  background-color: #d32f2f;
  padding: 5px;
  border-radius: 5px;
}

li button:hover {
  background-color: #b71c1c;
}
